# linked directories
sxhkdrc
# zsh
.zsh_history
.zcompdump**
*.zwc
# editors
.idea
.vscode
tmux/plugins/
# python
__pycache__/
# tmux
tmux/resurrect/
# others
default.target.wants/
*.uuid
.directory
fish_variables
awesome/awesome-wm-widgets
